body{
	background: url(../img/bg.jpg);
	font-family: tahoma, "microsoft yahei", "\5FAE\8F6F\96C5\9ED1", serif !important;
}

.navbar-right a{
	color: #444
}
.navbar-header{
	padding-left:140px;
	padding-right: 50px;
	font-weight: bold;
}
.btn_search{
	position: relative;
	left:-28px;
	cursor: pointer;
}
.my_nav_left{
	position: fixed;
	top:80px;
	width: 12%;
}
.my_nav_left ul{
	margin: 0;
	padding: 0;
	border: none;
}

.my_nav_left a{
	font-weight:bold;
	font-size: 16px;
	color: #3399CC;
}
.my_edit{
    margin-top:80px; 
}
#edit_form{
	background: #fff;
	padding-bottom: 8px;
	border-radius: 3px;
    border: 1px solid #eee;
}
.container_bg{
	background: rgba(255, 255, 255, 0.5);
	padding-bottom: 30px; 
}
 #content{
 	height:95px;
 	border-style:solid;
 	border-width:1px;
	 border-color:#AEEEEE
}

.emoji{
	background: url(../img/face.png)  no-repeat;
	padding:1px 0 10px 25px;
	cursor: pointer;
	font-size: 13px;
}
.post_pic{
	background: url(../img/pic.png)  no-repeat;
	margin-left: 10px;
	padding:1px 0 10px 25px;
	cursor: pointer;
	font-size: 13px;
	
}
.myEmoji{
	background: #fff;
	padding: 15px;
	border-radius: 3px;
    border: 1px solid #eee;
    box-shadow: 0 4px 20px 1px rgba(0,0,0,0.2);
    position:absolute;
    top:40px;
    z-index: 9999;
    display: none
}
.myEmoji img{
	 border: 1px solid #ccc;
	 padding: 4px;
}
#send{
	 margin-top:-5px ;
	 background: #e0620d;
	 color: #fff;
	 padding: 8px 30px
}
.message{
	background:#fff;
	height: 100%;
	margin-top:5px;
	border: 1px solid #eee;
	padding :10px;
}
.message .user-face:hover{
	cursor: pointer;
}

.message .repost_weiBo{
	margin-top: 5px;
	background:#e2e0e0ad;
	margin-left: -11px;
	margin-right: -11px;
}

.repost_weiBo .msg_pic{
	margin-bottom: 5px;
}

.weibo_tools_list{
	margin-left: -10px;
	margin-right: -10px;
	font-size: 12px;
}

.weibo_tools_list ul{
	margin-top: 5px;
	padding-top: 5px;
	margin-bottom: -5px;
	margin-left: 0px;
}
.weibo_tools_list li{
	padding: 0px;
	margin: 0px;
	width: 24%;
}
.weibo_tools_list a{
	display: block;
	color: #808080;
	text-align: center;
	border-left:solid 1px #7777778a;
	text-decoration: none;
	cursor: pointer;
}
.repost_weiBo_tools a{
	padding-left: 3px;
	border-left:solid 1px #7777778a;
	text-decoration: none;
	cursor: pointer;
}
.weibo_tools_list a:hover,.repost_weiBo_tools a:hover{
	color: #eb7350;
}
.weibo_tools_list em,.repost_weiBo_tools em{
	font-style: normal;
	display: inline-block;
	margin-left: 3px;
	margin-right: 1px;
}
.weibo_tools_list .first_item,.repost_weiBo_tools .first_item{
	border-left:none;
}

.sort{
	color:#777;
}
.part_right{
	margin-top: 80px;
	padding-left: 20px;
}
.inform{
	background: #fff;
	
	border-radius: 3px;
	
    border: 1px solid #eee;
}
.inform .userSelf{
	cursor: pointer;
}

.inform .user-Count-btn:hover{
	cursor: pointer;
	color: #eb7350;
}

.sort:hover{
	color: #eb7350;
}

.inform img{
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin-top: 20px;
}
.my_inform{
	padding: 10px;
}

.mypic{
	margin-top:5px;
	margin-left:5px;
	width: 75px;
	height: 75px;
}
.mypic:hover{
	cursor:url('../img/enlarge.png'),auto;
}

@media screen and (max-width: 699px) and (min-width: 320px) {
  	.my_edit{
    	margin-top:160px;
  	}
	.btn_search{
		padding: 0px;
	}

	.navbar-header{
		padding:0;
	}
	.inform{
		padding-bottom: 15px;
	}

}